html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
